<html>
    <title>
        NT_APP
    </title>
    <body style="background-image: url('/static/bg.jpg');">
        <br>
        <center><h1 style="font-family:  sans-serif;color: azure;font-size: 70px;background-color: black;">Welcome to News Tracker Application</h1></center>
        <br><br><br><center><a href="/signup" style="font-size: 35px;color: white;background-color: black;"><b style="font: size 50px;">SIGN UP</b> to NT-Application</a></center>

        <br><br><br><center><a href="/login" style="font-size: 35px;color: white;background-color: black;"><b style="font: size 50px;">LOG IN</b> (Already Existing User)</a></center> 


        <br><br><br><center><p style="font-size: 35px;color: white;background-color: black;">
        Team ID: PNT2022TMID06095 <br>
    Team Members: Kalaiselvan A, Kiran B, Kannan R, Hariharan R.</p></center> 
    </body>
</html>
